#wp-small-snippet {
  > div {
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }

  #snippets-list {
    width: 20%;
    float: left;
  }

  #create-snippets {
    width: 80%;
    float: left;
  }


  input[type=text], textarea, label {
    display: block;
  }

  textarea {
    width: 80%;
  }
}