#wp-small-snippet > div {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wp-small-snippet #snippets-list {
  width: 20%;
  float: left;
}
#wp-small-snippet #create-snippets {
  width: 80%;
  float: left;
}
#wp-small-snippet input[type=text], #wp-small-snippet textarea, #wp-small-snippet label {
  display: block;
}
#wp-small-snippet textarea {
  width: 80%;
}

/*# sourceMappingURL=backend.css.map */
